.h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.visualizerContainer {
  padding: 20px;
  width: max-content;
  height: max-content;
  transform: scale(0.90);
  transform-origin: top left;
}

.tester {
  width: 100%;
}