.gridPanel {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
  
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: inline-block;
  margin: 2px;
  padding: 5px 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.button:hover {
  cursor: pointer;
  background-color: #0056b3;
}

.button:disabled {
  background-color: grey;
  cursor: default;
}

.topGroup {
  display: flex;
  width: 2500px;
}

.firstGroup {
  display: flex;
  justify-content: flex-start;
}

.secondGroup {
  display: flex;
  margin: auto;
}

.thirdGroup {
  display: flex;
  margin: auto;
}

.fourthGroup {
  display: flex;
  justify-content: flex-end;
}