/* Node.module.css */
.node {
  width: var(--node-size); /* Width of a node */
  height: var(--node-size); /* Height of a node */
  border: 2px solid black; /* Adds a border around each node */
  /*box-sizing: border-box; /* Ensures padding/border are included in width/height */
  cursor: pointer; /* Makes the nodes clickable */
  transition: background-color 0.2s; /* Smooth transition for color changes */
}
.default {
  background-color: white;
}
/* Conditional classes */
.nodeWall {
  background-color: blue; /* Walls are black */
}

.nodeStart  {
  background-color: green; /* Start node is green */
}

.node-end {
  background-color: red; /* End node is red */
}

.node:hover {
  background-color: lightgray; /* Change color on hover */
}