.node {
  width: var(--node-size);
  height: var(--node-size);
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
}
.default {
  background-color: white;
}

.nodeWall {
  background-color: black;
}

.nodeStart  {
  background-color: green;
}

.nodeEnd {
  background-color: red;
}

.nodeVisited {
  background-color: hsl(271, 76%, 53%);
}

.isInFinalPath {
  background-color: greenyellow;
}

.waveColour {
  background-color: hsl(271, 25%, 42%);;
}

.node:hover {
  background-color: lightgray;
}