.node {
  width: var(--node-size);
  height: var(--node-size);
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
}
.default {
  background-color: white;
}

.nodeWall {
  background-color: black;
}

.nodeStart  {
  background-color: green;
}

.nodeEnd {
  background-color: red;
}

.nodeVisited {
  background-color: blueviolet;
}

.isInFinalPath {
  background-color: greenyellow;
}

.nodeFrontier {
  background-color: rgb(159, 92, 223);
}

.node:hover {
  background-color: lightgray;
}