.container {
    display: flex;
    align-items: center;
    overflow: visible;
}

.slider {
    overflow: visible;
    position: relative;
    display: block;
    color: white;
    width: 250px;
    cursor: pointer;
}

.text {
    display: inline-block;
    margin: 2px;
    background-color: #0056b3;
    border-radius: 15px;
    color: white;
    font-size: 26px;
    padding: 5px 5px;
    cursor: default;
}

.sliderText {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    gap: 55px;
}