.node {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
    display: inline-block;
    cursor: pointer;
  }
  
  .node:hover {
    background-color: #e0e0e0;
  }
  
  .node-start {
    background-color: green;
  }
  
  .node-end {
    background-color: red;
  }
  
  .node-wall {
    background-color: black;
  }
  