/* Grid.module.css */
.grid {
  display: flex;
  flex-direction: column; /* Stacks rows vertically */
  /*align-items: center; /* Center rows horizontally */
  margin: 75px; /* Adds spacing around the grid */
  width: max-content;
  height: max-content;
  border: 5px solid grey; /* Debugging border for the grid */
}

.row {
  display: flex; /* Stacks nodes in a row horizontally */
  width: max-content;
  height: max-content;
  /*border: 3px dashed green;*/
}