.grid {
  display: flex;
  flex-direction: column;
  margin: 45px;
  margin-left: 170px;
  width: max-content;
  height: max-content;
  border: 5px solid grey;
}

.row {
  display: flex;
  width: max-content;
  height: max-content;
}