.dropdownButton {
    margin-top: 2px;
    position: relative;
    display: flex;
    background-color: #007bff;
    border: 2px solid #a7c8eb;
    color: white;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    width: 320px;
    height: 45px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.dropdownButton:hover {
    background-color: #0056b3;
}

.dropdownButton:disabled {
    background-color: gray;
}

.dropdownMenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    z-index: 1000;
    width: 320px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.dropdownItem {
    width: max-content;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    background-color: black;
    align-items: center;
}

.dropdownItem:hover {
    display: block;
    background-color: gray;
}
